.custom-text-field {
    -fx-font-size: 15px;
    -fx-background-color: #0078d4; /* UNC Blue color */
    -fx-text-fill: #ffffff; /* White text on UNC Blue background */
}


.button {
    -fx-font-size: 18px;
    -fx-min-width: 120px;
    -fx-min-height: 40px;
    -fx-padding: 0px;
    -fx-background-color: #4B9CD3; /* UNC Blue color */
    -fx-text-fill: #FFD100; /* UNC Gold (Yellow) color */
}
.menu-button .label {
    -fx-text-fill:#FFD100; /* your desired color */;
}

.button:hover{
    -fx-background-color: RED;
}
.scrollPane {
    -fx-pref-width: 200px; /* Set the preferred width */
    -fx-pref-height: 200px; /* Set the preferred height */
    -fx-background-color: BLACK;
}

/* Style the vertical scroll bar */
.scrollPane:vertical .scroll-bar {
    -fx-base: #00ff00; /* Set the color of the vertical scroll bar to green */
}

/* Style the horizontal scroll bar */
.scrollPane:horizontal .scroll-bar {
    -fx-base: #00ff00; /* Set the color of the horizontal scroll bar to green */
}
.label {
    -fx-min-width: 120px;
    -fx-min-height: 12px;
    -fx-font-size: 10px; /* Set the font size of labels */
    -fx-spacing: 5px; /* Set the spacing between labels */
    -fx-background-color: #4B9CD3; /* UNC Blue color */
    -fx-text-fill: #FFD100; /* UNC Gold (Yellow) color */
}

.turtle_area {
    -fx-border-width: 3px;
    -fx-border-color: #0078d4; /* UNC Blue color */
    -fx-background-color: #ffffff; /* UNC White color */
}


.stage{
    -fx-background-color: #4B9CD3;
}

.turtle-image {
    -fx-image: url("/view/turtle.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}



