.root {
  -fx-background-color: linear-gradient(to bottom, #f0f0f0, #add8e6);
}

.text {
  -fx-font-family: "Times New Roman";
}

.menu-button {
  -fx-background-color: transparent;
  -fx-border-color: #333333;
  -fx-border-radius: 30;
}

.button {
  -fx-background-color: transparent;
  -fx-border-color: #333333;
  -fx-border-radius: 30;
}